rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stats/{docId} {
      allow read, write: if true;
    }

    match /seo/{docId} {
      allow read, write: if true;
    }

    match /design/{docId} {
      allow read, write: if true;
    }

    match /pages/{pageId} {
      allow read, write: if true;
    }

    match /notices/{noticeId} {
      allow read, write: if true;
    }

    match /media/{mediaId} {
      allow read, write: if true;
    }

    match /system/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}

